html {
  scroll-behavior: smooth;
  scroll-padding-top: 4.5rem;
}

@keyframes sliderIcons {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.bg-gold-gradient {
  background: linear-gradient(45deg, #ffec8b, #ffa500);
  animation: shine 3s linear infinite;
}
.white-space-pre-line {
  white-space: pre-line;
}
